---
- name: Create the '$HOME/.local/bin' directory if not exists
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.local/bin"
    state: directory
    mode: "0755"

- name: Register all the scripts inside 'bin' directory
  ansible.builtin.find:
    paths: "{{ playbook_dir }}/bin"
    file_type: file
  register: script_files

- name: Symlink each of the script to '$HOME/.local/bin'
  ansible.builtin.file:
    src: "{{ item.path }}"
    dest: >-
      {{ ansible_facts['user_dir'] }}/.local/bin/{{ item.path | basename }}
    state: link
  loop: "{{ script_files.files }}"
