[user]
	email = shrijal.acharya@gmail.com
	name = Shrijal Acharya

; Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/

[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/

; Use neovim as the default editor for git
[core]
	editor = nvim

[column]
	ui = auto
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[help]
	autoCorrect = prompt
[fetch]
	prune = true
[log]
  date = iso
[push]
	autoSetupRemote = true
