[defaults]
inventory = inventory/hosts.yml
private_key_file = ~/.ssh/ansible_homelabs
roles_path = roles
retry_files_enabled = false

# Not the very best practice but this project just deals with local changes and
# mainly just the config changes, so shouldn't really matter.
host_key_checking = false

