---
- name: Configure dotfiles for individual tools
  hosts: all

  roles:
    # Ditch alacritty for ghostty. It's been acting weird lately with completion
    # borders and all especially in (md) files.
    # - alacritty

    - role: ghostty
      tags: [dotfiles]

    - role: tmux
      tags: [dotfiles]

    - role: nvim
      tags: [dotfiles]

    - role: gnupg
      tags: [dotfiles]

    - role: lazygit
      tags: [dotfiles]

    - role: starship
      tags: [dotfiles]

    - role: stow
      tags: [dotfiles]

    - role: yazi
      tags: [dotfiles]

    - role: zed
      tags: [dotfiles]

    - role: goreleaser
      tags: [dotfiles]

    # NOTE: Always put fish, git at the end here when configuring dotfiles
    # because fish config sources different tools like starship, zoxide and all
    # that requires them to be installed first. and git config sets up ssh setup
    # for git, but ssh needs to be set up manually (what I prefer).
    # TODO: uncomment it at the last
    - role: fish
      tags: [dotfiles]

    - role: git
      tags: [dotfiles]
