---
- name: Set up the system
  hosts: all

  pre_tasks:
    - name: Set lowercase distro name
      ansible.builtin.import_tasks: pre_tasks/set_distro_name.yml
      tags:
        - always

    - name: Update package cache
      ansible.builtin.import_tasks: pre_tasks/update_package_cache.yml
      tags:
        - always

    - name: Setup the user
      ansible.builtin.import_tasks: pre_tasks/setup_ansible_user.yml
      tags:
        - always

    - name: Create the '$HOME/.config' directory
      ansible.builtin.import_tasks: pre_tasks/create_config_directory.yml
      tags:
        - always

    - name: Ensure the dotfiles repo exists
      ansible.builtin.import_tasks: pre_tasks/ensure_dotfiles_repo_exists.yml
      tags:
        - always

    - name: Setup SSH for the user
      ansible.builtin.import_tasks: pre_tasks/setup_ssh.yml
      # Skip SSH setup if it's the localhost, controlled via 'needs_ssh_setup'
      # var
      when: needs_ssh_setup | bool

  roles:
    - role: common
      tags:
        - system

    - role: fonts
      tags:
        - system

    - role: scripts
      tags:
        - scripts

    - role: docker
      tags:
        - system

    - role: go
      tags:
        - system

    - role: rust
      tags:
        - system

    - role: flatpak
      tags:
        - system

    - role: picom
      tags:
        - system

    - role: gtk-3.0
      tags:
        - system

    - role: gtk-4.0
      tags:
        - system

    - role: redshift
      tags:
        - system
