---
- name: Ensure tmux is installed
  become: true
  ansible.builtin.package:
    name: tmux
    state: present

- name: Create the '$HOME/.config/tmux' directory if not exists
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/tmux"
    mode: "0755"
    state: directory

- name: Clone Tmux Plugin Manager (no update)
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ ansible_facts['user_dir'] }}/.tmux/plugins/tpm"
    update: false

- name: Create symlink of files to '$HOME/.config/tmux' directory
  ansible.builtin.file:
    src: "{{ role_path }}/files"
    dest: "{{ ansible_facts['user_dir'] }}/.config/tmux"
    state: link
    force: true
