---
- name: Check if docker-ce is already installed
  ansible.builtin.command: "dnf list installed docker-ce"
  register: docker_installed
  changed_when: false
  failed_when: false

- name: Remove unofficial docker packages if any
  become: true
  ansible.builtin.dnf:
    name:
      - docker
      - docker-client
      - docker-client-latest
      - docker-common
      - docker-latest
      - docker-latest-logrotate
      - docker-logrotate
      - docker-selinux
      - docker-engine-selinux
      - docker-engine
      - podman
    state: absent
  when: docker_installed.rc != 0

- name: Add docker repository
  become: true
  ansible.builtin.command:
    cmd: >-
      dnf config-manager addrepo
      --from-repofile=https://download.docker.com/linux/fedora/docker-ce.repo
    creates: /etc/yum.repos.d/docker-ce.repo

- name: Install docker engine
  become: true
  ansible.builtin.dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Enable the docker service
  become: true
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true

- name: Add user to the 'docker' group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    append: true
    groups: docker
