---
- name: Check for distribution specific configs
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ distro_name }}.yml"
  register: distro_config

- name: Run tasks for distribution specific configs
  ansible.builtin.include_tasks: "{{ role_path }}/tasks/{{ distro_name }}.yml"
  when: distro_config.stat.exists

- name: Symlink config file to '$HOME/starship.toml'
  ansible.builtin.file:
    src: "{{ role_path }}/files/starship.toml"
    dest: "{{ ansible_facts['user_dir'] }}/.config/starship.toml"
    state: link
    force: true
